/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

h2, h3 {
    color: #8fa193;
}

.contact-btn{
    border: none;
}

.header-logo{
    width: 130px;
    border-radius: 10px;
}



/* Hero Section */
.hero {
    background-image: url('../../public/img/hero.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
    color: white;
    text-align: center;
}

.hero-content h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hero-btn {
    background-color: #8fa193;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.hero-btn:hover {
    background-color: #6f7e73;
}

/* Contact Button */
.contact-btn {
    background-color: #8fa193;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.contact-btn:hover {
    background-color: #6f7e73;
}

.services-images{
    margin-top: 30px;
    width: 160px;
}

/* Galería */
.galeria img {
    border-radius: 10px;
}

.container-galery-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-galery1{
    display: flex;
    flex-direction: row;
    width: 958px;
    gap: 15px;
    margin-top: 15px;
}

.galery-vertical{
    width: 100%;

    &:hover{
        transform: scale(1.02);
        transition: all 0.3s ease-in-out;
    }
}

.container-horizontal1{
    display: flex;
    flex-direction: column;
    width: 87%;
    gap: 15px;
}

.galery-horizontal{
    width: 100%;
    &:hover{
        transform: scale(1.02);
        transition: all 0.3s ease-in-out;
    }
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
